<div class="conteiner container-fluid m-5 p-3">
    <div class="row m-3">
    <div class="col-10"><h2>Gestione Taxi</h2></div>
    <div class="col-2">
        <a class="btn btn-warning" href="#" role="button">+ Insert</a>
    </div>
    </div>
    <div class="row m-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">TARGA</th>
                    <th scope="col">MODELLO</th>
                    <th scope="col">DESCRIZIONE</th>
                    <th scope="col">UPDATE</th>
                    <th scope="col">DELETE</th>
                </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nome}}</td>
                    <td>{{this.targa}}</td>
                    <td>{{this.modello}}</td>
                    <td>{{this.descrizione}}</td>
                    <td><a class="btn btn-dark btn-sm" href="/dashboard/taxi/form/{{this.id}}" role="button">Update</a></td>
                    <td><a class="btn btn-dark btn-sm" href="" role="button">Delete</a></td>
                </tr>
            {{/each}}
            
            </tbody>
        </table>
    </div>
</div>
